.container {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 25px;
    width: 100%;
    max-width: 1512px;
}

.content {
    width: 100%;
    max-width: 1512px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header__logo img {
    width: 370px;
    color: rgba(255, 255, 255, 1);
    padding-left: 25px;
}

.header__nav {
    display: flex;
    margin-left: auto;
    max-width: 1512px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
}

nav a:hover {
    text-decoration: underline;
}

.logout-button {
    all: unset;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.logout-button:hover {
    text-decoration: underline;
}

.index-container {
    width: 100%;
    max-width: 1512px;
    padding: 30px;
    text-align: center;
}

