.container {
    background-color: rgba(240, 239, 242, 1);
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
}

.attendance-detail-container {
    width: 100%;
    max-width: 900px;
    background-color: rgba(240, 239, 242, 1);
    font-family: 'Inter', sans-serif;
}

.title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    margin-top: 95px;
}

.vertical-line {
    display: inline-block;
    height: 40px;
    border: 8px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    margin-right: 20px;
}

.detail-card {
    width: 900px;
    border-radius: 10px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(225, 225, 225, 1);
    overflow: hidden;
}

.row {
    display: flex;
    height: 100px;
    border-bottom: 2px solid rgba(225, 225, 225, 1);
    align-items: center;
}

.row:last-child {
    border-bottom: none;
}

.label {
    width: 350px;
    color: rgba(115, 115, 115, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.15em;
    padding-left: 65px;
}

.year {
    margin-right: 150px;
    margin-left: 25px;
}

.value {
    flex: 1;
    width: 550px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.15em;
    color: rgba(0, 0, 0, 1);
}

.time-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.time-input {
    width: 103px;
    height: 29px;
    border-radius: 4px;
    border: 1px solid rgba(225, 225, 225, 1);
    padding: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.15em;
    vertical-align: middle;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-right: 40px;
}

.time-separator {
    margin-right: 40px;
}

.remarks-field {
    width: 316px;
    height: 72px;
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 5px 5px;
}

.button-container {
    text-align: right;
    margin-top: 20px;
}

.correction-button {
    display: inline-block;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    padding: 12px 25px;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.15em;
}

.approval-message {
    text-align: center;
    color: rgba(255, 85, 85, 1);
    font-size: 14px;
    margin-top: 20px;
}

.error {
    color: rgba(255, 85, 85, 1);
    font-size: 14px;
    margin-top: 4px;
}
